<!DOCTYPE html>
<html lang="es">
<head>
    <title>API RESTFul</title>
</head>
<body>
    <h1>Bienvenido a la API de Gestión de Clientes y Pedidos</h1>
    <p>Visita la <a href="/docs">documentación de la API</a>.</p>
</body>
</html>
